
.testiSideSlider {
    /* display: none !important */
    padding: 10 25;
}

.testiStr {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: #fec742;
}

.testiSideSlider .slickCurrent .testiBoxTxt {
    background-color: #fff;
    /* box-shadow: 0 0 68.62px 4.38px rgba(0, 0, 0, .09); */
    opacity: 1;
    border-radius: 8px;
    border-color: transparent;
    
}

.testiSideSlider .testiBoxTxt {
    /* opacity: .5; */
    /* box-shadow: 0 0 68.62px 4.38px rgba(0, 0, 0, .09); */
    border: 1px solid transparent;
    padding: 25px 40px;
    margin: 15px 0;
    position: relative;
}


.imgQuoteTestiSt {
    position: absolute;
    right: 20px;
    top: -20px
}

.testiBoxTxtShadow {
  box-shadow: 0 0 68.62px 4.38px rgba(0, 0, 0, .09);
}