.embla {
    max-width: 48rem;
    margin: 0px auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 25%;
}

.embla .embla__container {
    backface-visibility: hidden;
    display: flex;
    align-items: start;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla .embla__slide {
    /* flex: 0 0 100%;
    min-width: 0;
    padding-left: var(--slide-spacing);
    transition: opacity 0.2s ease-in-out;
    padding-bottom: 30px; */
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

.embla .embla__controls {
    margin-top: 1.8rem;
}