.bannerImg:hover {
  transform: scale(1.1);
}

.mainImg {
  position: absolute;
  bottom: -5%;
  right: 5%;
  width: 82%;
}

.topLeft {
  position: absolute;
  top: 110px;
  left: 13%;
  width: 110px;
}

.bannerImg:hover .topLeft {
  transform: translate(-20px, 5px);
}

.topRight {
  position: absolute;
  top: 210px;
  right: 15%;
  width: 60px;
}

.bannerImg:hover .topRight {
  transform: translate(50px, -40px);
}

.bottomRight {
  position: absolute;
  bottom: 50px;
  right: 12%;
  width: 60px;
}

.bannerImg:hover .bottomRight {
  transform: translate(-75px, 30px);
}

@media only screen and (max-width: 1599px) {
  .mainImg {
    bottom: -2%;
    right: 6%;
    width: 75%;
  }

  .topLeft {
    top: 130px;
    left: 18%;
  }

  .topRight {
    top: 235px;
    right: 15%;
  }

  .bottomRight {
    bottom: 60px;
    right: 10%;
  }
}

@media only screen and (max-width: 1499px) {
  .mainImg {
    bottom: 6%;
    right: 5%;
    width: 80%;
  }

  .topLeft {
    top: 125px;
    left: 15%;
    width: 95px;
  }

  .topRight {
    top: 220px;
    right: 15%;
  }

  .bottomRight {
    bottom: 115px;
    right: 10%;
  }
}

@media only screen and (max-width: 1299px) {
  .topLeft {
    top: 140px;
    left: 15%;
    width: 85px;
  }

  .topRight {
    width: 50px;
    top: 230px;
    right: 15%;
  }

  .bottomRight {
    bottom: 105px;
    width: 50px;
  }
}

@media only screen and (max-width: 1024px) {
  .bannerImg {
    display: none;
  }
}
