.bannerImg {
  background: url(../../../../public/location-page/banner-img.png);
  background-size: 85%;
  background-position: center;
  transition: transform 0.2s;
  padding: 50px;
  padding-bottom: 0;
  width: 85%;
  background-repeat: no-repeat;
  position: relative;
}

.bannerImg:hover {
  transform: scale(1.1);
}

.topLeft {
  width: 120px;
  top: 25px;
  left: -5px;
  position: absolute;
}

.bannerImg:hover .topLeft {
  transform: translate(-40px, 5px);
}

.topRight {
  width: 80px;
  top: 85px;
  right: 20px;
  position: absolute;
}

.bannerImg:hover .topRight {
  transform: translate(18px, -28px);
}

.bottomRight {
  position: absolute;
  bottom: 120px;
  right: 50px;
  width: 70px;
}

.bannerImg:hover .bottomRight {
  transform: translate(-75px, 30px);
}

@media only screen and (max-width: 1024px) {
  .bannerImg {
    display: none;
  }
}
